/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/larkin-events.sass */
#frontpage-events .title-container h2 {
  text-align: center;
  padding-bottom: 24px;
}

/* line 11, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .cycle-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}
/* line 16, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .cycle-container .pointer {
  position: absolute;
  top: 0;
  background-image: url("../img/sprite-pointer2.png");
  background-repeat: no-repeat;
  z-index: 600;
  width: 30px;
  cursor: pointer;
  cursor: hand;
}
/* line 25, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .cycle-container .pointer-prev {
  left: 0px;
  height: 85px;
}
/* line 28, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .cycle-container .pointer-next {
  right: 8px;
  height: 85px;
  background-position: -29px 0;
}

/* line 33, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .events-pager {
  text-align: center;
  letter-spacing: 2px;
  font-size: 38px;
  color: teal;
  cursor: pointer;
  cursor: hand;
}

/* line 41, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .events-pager .cycle-pager-active {
  color: #67b0b1;
}

/* line 44, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .event-pane {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  overflow: hidden;
  margin-bottom: 0;
}
/* line 51, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .event-pane li {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
}
/* line 56, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .event-pane li .image-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  margin-bottom: 14px;
  width: 102px;
  height: 102px;
  overflow: hidden;
}
/* line 65, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .event-pane li .image-container a {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 72, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .event-pane li .image-container img {
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 78, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .event-pane li img, #frontpage-events .mobile-only .event-pane li p, #frontpage-events .mobile-only .event-pane li a {
  text-align: center;
}
/* line 80, ../sass/larkin-events.sass */
#frontpage-events .mobile-only .event-pane li p, #frontpage-events .mobile-only .event-pane li a {
  font-family: "lexia", sans-serif;
  font-size: 16px;
  color: black;
  margin-bottom: 8px;
}

/* line 86, ../sass/larkin-events.sass */
.events-row .pointer {
  display: none;
  /*************************************************** */
  /* Style the "all events" loop                         ********* */
}

/*************************************************** */
/* line 93, ../sass/larkin-events.sass */
#events-list .event {
  margin-bottom: 16px;
  border: 1px solid #eff6f3;
  margin-bottom: 18px;
}
/* line 97, ../sass/larkin-events.sass */
#events-list .event header {
  background-color: #eff6f3;
  padding: 6px 12px;
}
/* line 100, ../sass/larkin-events.sass */
#events-list .event header p {
  color: black;
  font-size: 14px;
  font-size: 14px;
}
/* line 104, ../sass/larkin-events.sass */
#events-list .event header .datetime {
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}
/* line 108, ../sass/larkin-events.sass */
#events-list .event .event-details {
  padding: 16px 2%;
}
/* line 110, ../sass/larkin-events.sass */
#events-list .event .event-details h3 {
  color: black;
  font-family: "lexia", sans-serif;
  text-align: center;
  font-size: 16px;
}
/* line 116, ../sass/larkin-events.sass */
#events-list .event .event-details span {
  color: black;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}
/* line 121, ../sass/larkin-events.sass */
#events-list .event .event-details p {
  color: black;
  text-align: center;
  margin-bottom: 8px;
}

/* line 126, ../sass/larkin-events.sass */
#events-list .event header {
  position: relative;
}
/* line 128, ../sass/larkin-events.sass */
#events-list .event header .image-container {
  position: relative;
  text-align: center;
}
/* line 131, ../sass/larkin-events.sass */
#events-list .event header .datetime {
  font-family: "proxima-nova", sans-serif;
  margin-top: 12px;
}
/* line 134, ../sass/larkin-events.sass */
#events-list .event header .datetime h3, #events-list .event header .datetime h4 {
  text-align: center;
  color: black;
  font-family: "lexia", sans-serif;
  font-size: 16px;
  display: inline;
  text-align: center;
}
/* line 141, ../sass/larkin-events.sass */
#events-list .event header .datetime h4 {
  margin-bottom: 8px;
}

@media all and (min-width: 480px) {
  /*  This stylesheet is specifcally for styling the #events-list */
   * /*   at 'small tablet' width                                                                   */
  /* line 4, ../sass/_events_slightly_wider.sass */
  #events-list .event {
    min-height: 225px;
  }
  /* line 6, ../sass/_events_slightly_wider.sass */
  #events-list .event header {
    position: relative;
    float: left;
    width: 30%;
    min-height: 225px;
  }
  /* line 11, ../sass/_events_slightly_wider.sass */
  #events-list .event .event-details {
    float: left;
    width: 70%;
  }
}
@media all and (min-width: 768px) {
  /********************************************** */
  /*   events styles for tablet and larger                 */
  /********************************************** */
  /* line 4, ../sass/_events_tablet.sass */
  .mobile-only {
    display: none;
  }

  /********************************************** */
  /*  frontpage events, tablet +                                  */
  /********************************************** */
  /* line 12, ../sass/_events_tablet.sass */
  .slick-slide .image-container {
    position: relative;
    margin-bottom: 16px;
    text-align: center;
  }
  /* line 16, ../sass/_events_tablet.sass */
  .slick-slide .image-container img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 80px;
  }
  /* line 22, ../sass/_events_tablet.sass */
  .slick-slide p {
    color: black;
    font-size: 14px;
    padding-bottom: 6px;
    margin-bottom: 0;
    text-align: center;
  }

  /* line 30, ../sass/_events_tablet.sass */
  .tplus-events .events-row .slick-dots li {
    width: 40px !important;
  }

  /* line 33, ../sass/_events_tablet.sass */
  .tplus-events .slick-dots li button:before {
    color: #67b0b1;
    font-size: 10px;
  }

  /* line 37, ../sass/_events_tablet.sass */
  .tplus .slick-next, .tplus .slick-prev {
    z-index: 900;
    height: 40px;
    width: 80px;
    background: none;
    box-shadow: none;
  }

  /* line 44, ../sass/_events_tablet.sass */
  .tplus .slick-next:before, .tplus .slick-prev:before {
    content: none;
  }

  /* line 47, ../sass/_events_tablet.sass */
  .tplus .slick-next {
    background-image: url("../img/sprite-pointer.jpg");
    background-repeat: no-repeat;
    background-position: -70px 0px;
    right: -50px;
  }

  /* line 53, ../sass/_events_tablet.sass */
  .tplus .slick-prev {
    background-image: url("../img/sprite-pointer.jpg");
    background-repeat: no-repeat;
    background-position: 10px 0px;
    left: -50px;
  }

  /* line 60, ../sass/_events_tablet.sass */
  .slick-dots li button {
    background: none;
    display: none;
  }

  /********************************************** */
  /*   ends frontpage tabletplus styling                */
  /********************************************** */
  /* line 68, ../sass/_events_tablet.sass */
  .events-row.tplus {
    position: relative;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 24px;
    max-width: 768px;
  }

  /*************************************************** */
  /* Style the "all events" loop                         ********* */
  /*************************************************** */
  /* line 79, ../sass/_events_tablet.sass */
  #events-list .event {
    float: left;
    width: 48%;
  }

  /* line 83, ../sass/_events_tablet.sass */
  #events-list .event.first {
    margin-right: 2%;
  }
}
