/************************************************/
/*   events styles for tablet and larger                 */
  /************************************************/

#frontpage-events .title-container
  padding-top: 28px
  width: 100% 
  
#frontpage-events  .events-row .carousel-pager
  text-align: center
  letter-spacing: 2px  
  font-size: 38px
  color: #008080
  cursor: pointer
  cursor: hand
  
#frontpage-events  .events-row .carousel-pager .cycle-pager-active
  color: #67b0b1

  
.mobile-only
  display: none
 
.events-row.tplus
  position: relative
  margin-right: auto !important
  margin-left: auto    !important
  margin-bottom: 24px  
  max-width: 768px
  overflow: hidden
  
.events-row.tplus nav.bigslider
  background-color: #bdd0e7
  width: 100%
  height: 40px
  z-index: 100
  
.events-row.tplus ul
  position: relative
  margin-right: auto
  margin-left: auto
  height: 173px
  width: 768px
  padding-left: 40px
  z-index: 500
  overflow: none
  overflow: hidden
  margin-bottom: 12px
  li
    list-style: none
    position: relative
    float: left
    height: 173px
    overflow: hidden
    padding-left: 35px
    padding-right: 35px
    .image-container
      position: relative
      margin-left: auto
      margin-right: auto
      margin-bottom: 12px
      height: 102px
      width: 102px
      overflow: hidden
      a
        position: absolute
        display: block
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 500
      img
        text-align: center
        position: relative
        margin-left: auto
        margin-right: auto
    p
      text-align: center
      color: #000
      border-bottom: 80px
      font-family: "lexia", sans-serif
      margin-bottom: 8px
      
.events-row.tplus  .tplus-pointer
  z-index: 900
  position: absolute
  top: 40px
  left: 0px
  width: 70px
  height: 40px
  background-color: #88aad4
  background-image: url("../img/sprite-pointer.jpg")
  cursor: pointer
  cursor: hand
.events-row.tplus  .tplus-pointer.tplus-next
  left: 810px
  background-position: 70px 0  
