@import "bourbon/bourbon"
@import "neat/neat"

#frontpage-events .title-container 
  h2
    text-align: center
    padding-bottom: 24px
    
#frontpage-events .mobile-only .cycle-container
  position: relative
  margin-left: auto
  margin-right: auto
  width: 240px
  .pointer
    position: absolute
    top: 0
    background-image: url("../img/sprite-pointer2.png")
    background-repeat: no-repeat
    z-index: 600
    width: 30px
    cursor: pointer
    cursor: hand
  .pointer-prev
    left: 0px
    height: 85px
  .pointer-next
    right: 8px
    height: 85px
    background-position:  -29px 0

#frontpage-events .mobile-only .events-pager 
  text-align: center
  letter-spacing: 2px  
  font-size: 38px
  color: #008080
  cursor: pointer
  cursor: hand

#frontpage-events  .mobile-only .events-pager  .cycle-pager-active
  color: #67b0b1
  
#frontpage-events .mobile-only  .event-pane
  position: relative 
  margin-left: auto 
  margin-right: auto
  width: 200px
  overflow: hidden
  margin-bottom: 0
  li
    position: relative
    margin-left: auto 
    margin-right: auto
    width: 210px
    height: 240px
    .image-container
      position: relative
      margin-left: auto
      margin-right: auto
      width: 145px
      margin-bottom: 14px
      width: 102px
      height: 102px
      overflow: hidden
      a
        display: block
        position: absolute
        height:  100%
        width: 100%
        top: 0
        left: 0
      img
        display: block
        text-align: center
        position: relative
        margin-left: auto
        margin-right: auto
    img, p, a
      text-align: center
    p, a
      font-family: "lexia", sans-serif
      font-size: 16px
      color: #000
      margin-bottom: 8px
      
.events-row .pointer
  display: none

@media all and (min-width: 768px)
  @import  "events_tablet"
